:root{
  --primaryColor: #FF5C00;
  --mainDark:#242120;
  --mainWhite: #fff;
  --mainBlack: #000000;
  --mainGrey: #828282;
  --mainDarkblue:  #03363C;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --fontFamily:'Inter', sans-serif;

}
ul{
  list-style-type: none;
  padding:0;
  margin:0;
}
